<%- include('partials/header') %>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-text"> Shopping cart </span>
    </div>
</nav>
<div class="container">
    <form action="/login" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >User Name</span
            >
            <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="username"
                value=""
            />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >Password</span
            >
            <input
                type="password"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="password"
                value=""
            />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >Select the role</span
            >
            <select
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
            >
                <option value="role">selct the role</option>
                <option value="admin">admin</option>
                <option value="user">user</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">login</button>

        <p>
            New user?
            <a href="/register">register here</a>
        </p>
    </form>
</div>

<%- include('partials/footer') %>
